logs
*.tmp
.idea/
.zed/
.vscode/
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db
*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.env
# Go build stuff
bin/
*.out

# Git files
.git
.gitignore

# Tests
tests/*
!tests/mocks/
!tests/mocks/**
coverage.out

# Env files (better to mount at runtime)
.env
.env.*
test.env

# IDE/editor configs
.vscode/
*.swp
